body
{
    background-color:#7B8FA1;
}

hr
{
    border-style: none;
    border-top-style: dotted;
    border-color: #567189;
    border-width: 5px;
    width: 10%;
}

h1
{
    color: black;
}

h2
{
    color: black;
    background-color: #567189;
}